html, body
{
	height: 100%;
}

body
{
	font: 16px/1.1em Arial;
	display: flex;
	justify-content: center; 
	align-items: flex-start;
}

.form
{
	margin-top: 30px;

	&--element{
		display: block;
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 1.7em;
	}

	&--textarea{
		width: 930px;
		height: 300px;
	}

	&--label{
		display: inline-block;
		margin-bottom: 10px;
	}
}